In [1]:
import pandas as pd

In [5]:
df =  pd.DataFrame([["Tom",24],["Daniel",26],["Ron",27]], columns = (["Name","Age"]))

In [7]:
df

     Name  Age
0     Tom   24
1  Daniel   26
2     Ron   27

In [14]:
df.to_csv("test1.csv", index = False)

# PySpark

In [9]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.2.1.tar.gz (281.4 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 281.4/281.4 MB 2.0 MB/s eta 0:00:0000:0100:01
  Preparing metadata (setup.py) ... done
Collecting py4j==0.10.9.3
  Downloading py4j-0.10.9.3-py2.py3-none-any.whl (198 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 199.0/199.0 KB 12.8 MB/s eta 0:00:00
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.2.1-py2.py3-none-any.whl size=281853644 sha256=707aaefa390b68cb5279113df229d1d2411cc8c7158a8f10cbb70a5969ddfa88
  Stored in directory: /Users/college/Library/Caches/pip/wheels/58/94/83/915c9059e4b038e2d43a6058f307fe1c3e8536e5745f3b23b7
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.3 pyspark-3.2.1

In [10]:
import pyspark

In [31]:
df = pd.read_csv("test1.csv")

df

     Name  Age
0     Tom   24
1  Daniel   26
2     Ron   27

In [30]:
type(df)

pandas.core.frame.DataFrame

In [16]:
# Creating Spark Session
from pyspark.sql import SparkSession

In [17]:
spark = SparkSession.builder.appName("Practice").getOrCreate()

In [18]:
spark

In [19]:
df_pyspark = spark.read.csv("test1.csv")

In [22]:
df_pyspark

# Display df
df_pyspark.show()

+------+---+
|   _c0|_c1|
+------+---+
|  Name|Age|
|   Tom| 24|
|Daniel| 26|
|   Ron| 27|
+------+---+

In [26]:
df_pyspark = spark.read.option('header','true').csv("test1.csv")

df_pyspark.show()

+------+---+
|  Name|Age|
+------+---+
|   Tom| 24|
|Daniel| 26|
|   Ron| 27|
+------+---+

In [27]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [32]:
# df.info alternative in spark is df.printSchema(), it displays column names
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: string (nullable = true)