# PySpark Dataframes
- Filter Operation
- &, |, ==
- Ëœ

useful for data preprocessing techniques

In [1]:
# Creating file 
import pandas as pd


df = pd.DataFrame([["Tom", 31, 10,3000],["Daniel",30,8,4000],["Ron",29,4,5000],["Ricardo",34,10,27000],["Fredric",22,2,38000],["Snape",40,15,190000],["John",33,10,27000]], columns = (["Name","Age","Experience","Salary"]))
df.to_csv("test4.csv", index = False)
df

      Name  Age  Experience  Salary
0      Tom   31          10    3000
1   Daniel   30           8    4000
2      Ron   29           4    5000
3  Ricardo   34          10   27000
4  Fredric   22           2   38000
5    Snape   40          10  190000

In [2]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("Dataframe").getOrCreate()

In [3]:
df_pyspark = spark.read.csv("test4.csv", header = True, inferSchema= True)
df_pyspark.show()

+-------+---+----------+------+
|   Name|Age|Experience|Salary|
+-------+---+----------+------+
|    Tom| 31|        10|  3000|
| Daniel| 30|         8|  4000|
|    Ron| 29|         4|  5000|
|Ricardo| 34|        10| 27000|
|Fredric| 22|         2| 38000|
|  Snape| 40|        10|190000|
+-------+---+----------+------+

## Filter Operations

In [5]:
## Salary of people less than  27000
df_pyspark.filter("Salary<27000").show()

+------+---+----------+------+
|  Name|Age|Experience|Salary|
+------+---+----------+------+
|   Tom| 31|        10|  3000|
|Daniel| 30|         8|  4000|
|   Ron| 29|         4|  5000|
+------+---+----------+------+

In [6]:
# filtering for Salary of people less than  27000 and then only selecting specific columns for output
df_pyspark.filter("Salary<27000").select(['Name','Age']).show()

+------+---+
|  Name|Age|
+------+---+
|   Tom| 31|
|Daniel| 30|
|   Ron| 29|
+------+---+

In [8]:
# another way to write filter 
df_pyspark.filter(df_pyspark['Salary']<27000).show()

+------+---+----------+------+
|  Name|Age|Experience|Salary|
+------+---+----------+------+
|   Tom| 31|        10|  3000|
|Daniel| 30|         8|  4000|
|   Ron| 29|         4|  5000|
+------+---+----------+------+

In [9]:
# using & for filtering
df_pyspark.filter((df_pyspark['Salary']<27000) & 
                  (df_pyspark['Salary']>3000)).show()

+------+---+----------+------+
|  Name|Age|Experience|Salary|
+------+---+----------+------+
|Daniel| 30|         8|  4000|
|   Ron| 29|         4|  5000|
+------+---+----------+------+

In [11]:
# not operation using ~ 
df_pyspark.filter(~(df_pyspark['Salary']<27000)).show()

# result consists of filtering salary which is not less than 27000

+-------+---+----------+------+
|   Name|Age|Experience|Salary|
+-------+---+----------+------+
|Ricardo| 34|        10| 27000|
|Fredric| 22|         2| 38000|
|  Snape| 40|        10|190000|
+-------+---+----------+------+